# SQL Guided Practice - Chinook Database

The [Chinook Database](https://github.com/lerocha/chinook-database) represents a digital media store with tables for artists, albums, tracks, sales, customers, employees, and more. You will be performing multiple queries to extract information from this database.

Please begin by importing the necessary packages using the standard alias:
- `sqlite3`
- `pandas`

In [ ]:
# Your code here

The database is stored in the `Chinook_Sqlite.sqlite` file *within* the `data` directory. In the cell below, please replace `None` with the appropriate code to establish a connection to sqlite database.

In [ ]:
conn = None

## Database Schema

There are 11 total tables in the database. The diagram below illustrates the relationships between each table.

![](erd.png)

### 1. Query the Name of every track and its associated size in Bytes. Order the results in descending order by Bytes.

In [ ]:
q = """

"""

pd.read_sql(q, conn)

### 2. Find the total number of tracks in each playlist. The results should show the PlaylistId and total number of tracks in the playlist. As a bonus, show the Playlist name instead of the PlaylistId.

In [ ]:
q = """

"""

pd.read_sql(q, conn)

### 3. Show the 5 countries with the most number of customers.

In [ ]:
q = """

"""

pd.read_sql(q, conn)

### 4. Query each invoice line item (InvoiceLineId) and include the name of the Track purchased and name of the Artist.

In [ ]:
q = """

"""

pd.read_sql(q, conn)

### 5. Show average revenue per sale for each sales agent (total sales / number of sales). Round to 2 decimal places.

In [ ]:
q = """

"""

pd.read_sql(q, conn)

### 6. Show all customers who are NOT from one of the 5 countries with the most number of customers. Do this WITHOUT hardcoding the country names into the query. (Hint: Use a subquery)

In [ ]:
q = """

"""

pd.read_sql(q, conn)

### 7. Find which employee sold the highest number of unique media types?

In [ ]:
q = """

"""

pd.read_sql(q, conn)

### 8. How many Classical tracks are available in each MediaType?

In [ ]:
q = """

"""

pd.read_sql(q, conn)

### 9. What are the top 5 most successful (profitable) Rock artists of all time?

In [ ]:
q = """

"""

pd.read_sql(q, conn)

### 10. Which 3 customers have spent the most on Jazz music in MPEG format?

In [ ]:
q = """

"""

pd.read_sql(q, conn)